/* Styles de l'overlay de la fenêtre modale */

#modal-form-overlay {
  /* occupe tout l'écran */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* debug */
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  visibility: hidden;
}

/* Styles du formulaire */

#product-form,
#confirmation-modal,
#users-list {
  max-width: 80%;
  background: white;
  color: black;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

#product-form * {
  box-sizing: border-box;
}

#product-form .form-input {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#product-form input,
#product-form textarea {  
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

#product-form .form-input > * {
  margin-bottom: 0.8rem;
}

#product-form .column-inputs {
  display: flex;
  justify-content: space-between;
}

#product-form .column-inputs .form-input {
  max-width: 32%;
  flex: 1;
}

#product-form .form-input.checkbox-hr input[type="checkbox"] {
  margin-left: 0.6rem;
}

#product-form .form-input.checkbox-hr > * {
  margin: 0;
}

#product-form .form-input.checkbox-hr p {
  font-size: 0.6rem;
  color: #666;
  margin: 0.2rem 0 0.6rem;
}

#product-form .button,
#confirmation-modal .button {
  display: block;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#product-form a:nth-of-type(1) {
  margin-top: 1rem;
}

#product-form .confirm-btn {
  color: #fff;
  background: #2046f2;
}

/* Styles du message de confirmation */

#confirmation-modal {
  display: none;
}

#confirmation-modal .checkmark {
  color: white;
  background: #2046f2;
  font-size: 3rem;
  width: 5rem;
  text-align: center;
  border-radius: 100%;
  margin: -3rem auto 0 auto;

  display: none;
}

#confirmation-modal h2 {
  text-align: center;
}

#confirmation-modal p {
  font-size: 1rem;
}

.bouncing-in-top {
  animation: bounce-in-top 1000ms ease 0s 1 normal forwards;
}

.bouncing-in-backward {
  animation: bounce-in-backward 1000ms ease 0s 1 normal forwards;
}

/* Styles de la liste d'utilisateurs */

#users-list {
  display: none;
  background: #eee;
  z-index: 11;
}

#users-list ul {
  max-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
  gap: 0.8rem;
}

#users-list article {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  width: 15rem;
  padding: 0.64rem;
}

#users-list article p {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

#users-list article .name {
  font-size: 1.1rem;
}

#users-list article .email {
  font-size: 0.9rem;
  color: #666;
}

#users-list article .motto {
  font-style: italic;
}

/* media query pour forcer l'affichage du bouton en vue mobile */

@media (max-width: 991px) {
  .navigation__cta {
   display:block;
  }
}

/* Classes d'animation */

.visible {
  visibility: visible;
}

.fading-in {
  animation: fade-in 1000ms ease 0s 1 normal forwards;
}

#modal-form-overlay.fading-out {
  animation: fade-out 1000ms ease 0s 1 normal forwards;
}

.scaling-in {
  animation: scale-in 1000mss ease 0s 1 normal forwards;
}

.scaling-out {
  animation: scale-out 1000ms ease 0s 1 normal forwards;
}

/* Changement d'opacité */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Animation d'entrée avec scale */

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* Définition des animations d'entrée de la modale de confirmation */

@keyframes bounce-in-top {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

@keyframes bounce-in-backward {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: scale(7);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: scale(1);
	}

	55% {
		animation-timing-function: ease-in;
		transform: scale(1.5);
	}

	72% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	81% {
		animation-timing-function: ease-in;
		transform: scale(1.24);
	}

	89% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	95% {
		animation-timing-function: ease-in;
		transform: scale(1.04);
	}

	100% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

/* media query pour écrans larges */

@media screen and (width > 991px) {
  #product-form,
  #confirmation-modal,
  #users-list {
    max-width: 60rem;
  }
}