/* Styles généraux */

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style des liens boutons */

.modal-btn {
  display: block;
  text-decoration: none;
  background-color: #ddd;
  color: blue;
  padding: 1rem;
  width: 10rem;
  margin: 1rem auto;
  border-radius: 12px;
  text-align: center;
}

/* Styles du formulaire */

form {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 20rem;
  margin: 2rem auto;
  padding: 2rem;
  /* debug */
  background: #666;
}

label,
input {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  line-height: 1.5;
}

/* État initial de la modale */

#modal-form {
  opacity: 0;
}

/* Animation d'entrée grâce à la pseudo-classe :target */

#modal-form.entering {
  animation: scale-in 250ms ease 0s 1 normal forwards;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Animation de sortie (par défaut) */

#modal-form.exiting {
  animation: scale-out 250ms ease 0s 1 normal forwards;
}

@keyframes scale-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
